# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
