# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Unity
[Tt]emp/
[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Mm]etedata/
[Aa]ssets/StreamingAssets/
[Ll]ogs/
*.csproj
*.unityproj
*.sln
*.userprefs
*.pidb
*.suo
*.user
*.booproj
*.svd
*.sln.dotSettings
*.tmproj
*.tmp
*.temp
*.bak
*.log
*.tps
*.pdb
*.mdb
*.dll
*.exe
*.apk
*.unitypackage
build/
Assets/AssetStoreTools/*
